@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@section scripts {
    <script src="~/Scripts/bloqueos/accion1.js"></script>
    <script src="~/Scripts/bloqueos/accion2.js"></script>
    <script>
        var jqxhr3 = $.ajax("/Controlador2/accion3")
            .done(function () {
                console.log("Terminó 3");
            })
            .fail(function () {
                alert("error");
            })
    </script>
}
